:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: rgb(238, 77, 45);
  --yellow-color: #ffce3e;
  --header-soft-bar-height: 44px;
  --header-height: 120px;
  --header-nav: 34px;
  --header-with-search: calc(var(--header-height) - var(--header-nav));
}

* {
  box-sizing: inherit;
  margin: 0;
  text-transform: capitalize;
  /* padding: 0; */
}
ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: #ccc;
}

html {
  /* tip px to rem */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/* resposive */

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.grid__column-2 {
  width: 16.6667%;
  padding-left: 5px;
  padding-right: 5px;
}

.grid__column-2-4 {
  width: 20%;
  padding-left: 5px;
  padding-right: 5px;
}

.grid__column-10 {
  width: 83%;
  padding-left: 5px;
  padding-right: 5px;
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}
/* 
---------------------------
Modal-Menu
---------------------------
*/

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn ease-in 0.5s;
}

.modal__body {
  --growth-from: 0.5;
  --growth-to: 1;
  animation: growth linear 0.5s;
  z-index: 3;
  margin: auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

/* 
Style Button
*/
.btn {
  background-color: var(--white-color);
  height: 36px;
  min-width: 142px;
  border: none;
  font-size: 1.6rem;
  padding: 0 10px;
  margin: 0;
  text-align: center;
  line-height: 0;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn.btn--size-s {
  height: 30px;
  padding: 0 8px;
}

.btn--disable {
  cursor: default !important;
  background-color: #ece5e54d !important;
  color: #cccccc7a !important;
}

.btn.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* selection input */

.select-input {
  display: flex;
  min-width: 200px;
  height: 34px;
  padding: 0 12px;
  border-radius: 3px;
  position: relative;
  background-color: var(--white-color);
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.select-input-lable {
  font-size: 1.4rem;
  font-weight: 500;
  cursor: text;
}

.select-input-icon {
  font-size: 1.3rem;
}

.select-input-list {
  background-color: var(--white-color);
  position: absolute;
  top: calc(100% - 8px);
  right: 0;
  left: 0;
  list-style: none;
  border-radius: 3px;
  overflow: hidden;
  margin: 10px 0;
  padding: 8px 12px;
  box-shadow: 0 1px 1px #ccc;
  display: none;
}

.select-input:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  top: 100%;
  left: 0;
  /* background-color: red; */
}

.select-input:hover .select-input-list {
  display: block;
}

.select-input-item:hover .select-input-item-link {
  color: var(--primary-color);
}

.select-input-item-link {
  color: var(--black-color);
  font-size: 1.4rem;
  padding: 4px 0;
  display: block;
  text-transform: capitalize;
  font-weight: 450;
}
